.pokemon-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 70%;
  min-height: 85vh;

  .pokemon-content-1 {
    align-items: center;
    background: white url("../../img/fundo-branco.png");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    min-height: 85vh;
    width: 100%;

    .pokemon-content-1-image {
      width: 380px;
    }

    .pokemon-content-1-info {
      background-color: rgb(253, 144, 72);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column nowrap;
      height: 100%;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}