.main-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #fff url(../../img/fundo-branco.png);
  min-height: 85vh;
  width: 70%;
  margin: 0 20px;
}

.pokemons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  flex-flow: row wrap;
  padding: 25px;
  padding-bottom: 45px;
}

.m {
  border: 3px solid red;
}

.mensagem-vazio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(245, 20, 20);
  border-radius: 8px;
  height: 300px;
  width: 70%;
}

.mensagem-vazio h2 {
  font-size: 30px;
  color: red;
}

.mensagem-vazio li {
  font-size: 22px;
  color: #666;
}
