@import url('http://fonts.cdnfonts.com/css/sf-chaerilidae-2');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Chaerilidae', sans-serif;
}

.content-principal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url('./img/fundo-preto.png');
  background-repeat: repeat;
  min-height: 100vh;
}

.div-ajuda img {
  position: fixed;
  float: left;
  width: 120px;
  margin: 0;
  margin-top: 38vh;
  margin-left: 40px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.85;
}

.div-ajuda img:hover {
  animation: efeitinho 1s infinite;
  transition: 0.5s;
  opacity: 1;
}

@keyframes efeitinho {
0% {
  transform: scale(1.0);
}
50% {
  transform: scale(1.1);
}
100% {
  transform: scale(1.0);
}
}
